* {
    outline: none;
    border-collapse: collapse;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: monospace;
    background: #ddd;
}

a {
    margin: 1rem;
    padding: 1rem;
    background: slategray;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.25rem;
    width: 20rem;
    color: white;
}

a:hover {
    background: slateblue;
}

a:active {
    background: steelblue;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
    }
}